@{ ViewData["Title"] = "Home Page"; }

@*<div class="text-center home-index">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>



        <div>
            <p>
                Lorem Ipsum Dolor Sit Amet.
            </p>
        </div>
    </div>*@

    <!-- <div class="navbar">
        <img src="logo.png" class="logo">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Music Genres</a></li>
            <li><a href="top.html">Top Events</a></li>
            <li><a href="about.html">About Us</a></li>
        </ul>
    </div> -->
    <div class="content">
        <h1>FIND YOUR PLACE TO PARTY</h1>
        <p>Party with your favorite artists, with your favorite people!</p>
        <div>
            <button type="button"><span></span>SEARCH NOW</button>
        </div>
    </div>


